.root {
  background-color: black;
  align-items: flex-end;
  justify-content: flex-end;
}

.fab-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlap {
  position: absolute;
}

.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
