<div class="max-size flex-box root">
  <div class="max-size overlap">
    <video class="max-size" #videoInput></video>
  </div>
  <div class="fab-container flex-box overlap">
    <button mat-fab color="primary"
            [style.margin-bottom]="globals.getSideMargin()"
            [style.margin-right]="globals.getSideMargin()" (click)="imageInput.click()">
      <mat-icon>add_a_photo</mat-icon>
    </button>
    <button mat-fab color="primary"
            [style.margin-bottom]="globals.getSideMargin()"
            [style.margin-right]="globals.getSideMargin()"
            routerLink="create">
      <mat-icon>create</mat-icon>
    </button>
    <input #imageInput class="hidden" type="file" accept="image/*" (change)="processImage()" />
  </div>
</div>
